.navbar {
    width: 100%;
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 10px;
    background-color: #8A2BE2;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }